.btn {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
}

.btn.primary {
    background-color: #2a2c30;
    color: white;
}

.btn.secondary {
    background-color: var(--primary-color);
    color: white;
}

.btn.primary:hover {
    background-color: var(--primary-color-dark, #141517); /* Fallback color if variable not set */
}

.btn.secondary:hover {
    background-color: var(--secondary-color-dark, #0056b3); /* Fallback color if variable not set */
}

.btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}