:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --footer-bg: #f8f9fa;
}

body.dark-mode {
  --background-color: #181818;
  --text-color: #f0f0f0;
  --primary-color: #1DB954; /* You can use a vibrant color for dark mode */
  --secondary-color: #c5c6c7;
  --footer-bg: #212121;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
